.circle-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;

  .circle {
    margin: 20px;
  }
}

/* configuration */
$primary-color: transparent;
$secondary-color: #fff;
$fill-color: transparent;
$diameter: 181px;
$border-width: 3px;
$font-size: 25px;
$duration: 0.2s;

/* mixin */
@mixin circle($color) {
  width: $diameter;
  height: $diameter;
  border: $border-width solid $color;
  background: transparent;
  border-radius: 100%;
  transition: width $duration ease-out, height $duration ease-out,
    border-width $duration ease-out;
  font-size: 24px;
}

@mixin circle-hover {
  width: $diameter + ($border-width);
  height: $diameter + $border-width;
  border-width: $border-width / 2;
  box-shadow: 0px 0px 6px 0px #fc7400;
}

/* placeholder */
%fill-up-styles {
  .percentage-bar:after {
    position: absolute;
    content: "";
    clip-path: inset(0 0 0 50%);
    transform: rotate(0deg);

    @include circle($secondary-color);
  }
}

%clip-styles {
  .percentage-bar {
    clip-path: none;
  }
}

/* percentage circle style */
.circle {
  width: $diameter + ($border-width * 2);
  height: $diameter + ($border-width * 2);
  cursor: default;

  span {
    position: absolute;
    display: block;
    width: ($diameter + (2 * $border-width));
    height: ($diameter + (2 * $border-width));
    text-align: center;
    color: $secondary-color;
    line-height: ($diameter + (2 * $border-width));
    font-size: $font-size;
    font-family: Helvetica, Arial, Geneva, sans-serif;
    transition: font-size $duration ease-out;
    text-shadow: 0px 0px 6px #fca500;

    .small-text {
      font-size: 18px;
      margin-right: 5px;
    }
  }

  &:before {
    position: absolute;
    content: "";
    background-color: $fill-color;

    @include circle($primary-color);
  }

  .percentage-bar {
    width: $diameter + (2 * $border-width);
    height: $diameter + (2 * $border-width);
    position: absolute;
    clip-path: inset(0 0 0 50%);
    text-shadow: 0px 0px 6px #fca500;

    &:before {
      position: absolute;
      content: "";
      clip-path: inset(0 50% 0 0);
      transform: rotate(0deg);

      @include circle($secondary-color);
    }
  }

  &:hover {
    &:before {
      @include circle-hover;
    }
    span {
      font-size: $font-size + $border-width;
    }
    .percentage-bar {
      &:before,
      &:after {
        @include circle-hover;
      }
    }
  }

  @for $i from 1 through 100 {
    &.percentage-#{$i} {
      .percentage-bar:before {
        transform: rotate(360deg / (100 / $i));
      }
    }
  }

  @for $i from 51 through 100 {
    &.percentage-#{$i} {
      @extend %fill-up-styles;
    }
    &.percentage-#{$i} {
      @extend %clip-styles;
    }
  }
}
