.scroll-to-top {
  position: fixed;
  bottom: 200px;
  right: 20px;
  padding: 10px 15px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.show {
    opacity: 1;

    &:hover {
      opacity: 0.5;
    }
  }
}
