@import "./variables.scss";
@import "./MenuDropdown.scss";
@import "./CircleCountInfoButton.scss";

body {
  font-family: "NotoSansJP", "Inter", sans-serif;
  margin: 0px;
  padding: 0;
}

.page-container {
  .main-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.content {
  flex: 1;
}

footer {
  padding: 40px;
  font-size: 11px;
  font-family: Hiragino Kaku Gothic Pro;
  font-weight: 300;
  background: #414141;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

  .footer-nav {
    display: grid;
    align-items: center;
    height: 100%;
    padding: 0 100px;
    grid-template-columns: repeat(6, 1fr);
    height: 100%;
    padding: 0 120px;
    a {
      &:hover {
        opacity: 0.5;
      }
      font-size: 11px;
      text-decoration: none;
    }
  }
}

.wrapper {
  position: relative;
}

ul > li {
  list-style: none;
}

a {
  color: $white;
  font-family: Hiragino Kaku Gothic Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px; /* 143.75% */
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  height: 64px;
  padding: $header_padding;
  background: #414141;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

  &.wapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .left-panel {
    .logo {
      width: 144px;
      height: 64px;
      padding: 16px 19px 8px 16px;

      a {
        cursor: pointer;
      }

      img {
        width: 109px;
        height: 40px;
      }
    }
  }

  .right-panel {
    display: inherit;

    .header-nav {
      display: flex;

      .line-nav {
        justify-content: space-between;
        display: flex;
        align-items: center;

        li {
          width: 160px;
          height: 48px;
          display: flex;
          align-items: center;
          img {
            margin-right: 8px;
          }

          a {
            color: $white;
            cursor: pointer;
          }
          &:hover {
            opacity: 0.8;
          }
          &.active {
            a {
              color: #ff963c;
            }
          }
        }
      }
    }
    .header-dropdown {
      display: flex;
      align-items: center;

      .dropdown-toggle {
        background-color: transparent;
      }
    }
  }
}

.btn {
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    opacity: 0.7;
  }

  &-primary {
    color: $white;
    background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
